<footer>
  <div class="container">
    <div class="logo__foot">
      <div class="image">
        <img class="logo__icon" src="/assist/images/IMG_1844.png" alt="" />
        <a href="#wallx">Creative Network</a>
      </div>
      <p>
        اهلا بك في موقع شبكة الإبداع. هنا حيث يجتمع الإبداع والمهارات في هذا
        المكان المميز. وكذلك يمكنك مشاهدة فريق المطورين والمصممين من خلال الضغط
        على "الفريق".
      </p>
    </div>
    <div class="pages">
      <h3>الصفحات</h3>
      <ul>
        <li><a href="#">الصفحة الرئيسية</a></li>
        <li><a href="#">من نحن</a></li>
        <li><a href="#">الفريق</a></li>
        <li><a href="#">الأنجازات</a></li>
      </ul>
    </div>
    <div class="social">
      <h3>وسائل التواصل الاجتماع</h3>
      <ul class="social-icons">
        <li>
          <a href="#" aria-label="Facebook"
            ><i class="fab fa-facebook-f"></i
          ></a>
        </li>
        <li>
          <a href="#" aria-label="Facebook"
            ><i class="fab fa-facebook-f"></i
          ></a>
        </li>
        <li>
          <a href="#" aria-label="Email"><i class="fas fa-at"></i></a>
        </li>
        <li>
          <a href="#" aria-label="LinkedIn"><i class="fas fa-x"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
