<nav class="navbar">
  <div class="container">
    <div class="navbar-toggle" id="navbar-toggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="navbar-menu" id="navbar-menu">
      <li><a href="#">الصفحة الرئيسية</a></li>
      <li><a href="#">من نحن</a></li>
      <li><a href="#">الفريق</a></li>
      <li><a href="../goldenTest/pages/projects.html">المشاريع</a></li>
      <li><a href="#">الإنجازات</a></li>
    </ul>
    <div class="logo">
      <a href="#wallx"> Creative Network</a>
      <img class="logo__icon" src="/assist/images/IMG_1844.png" alt="" />
    </div>
  </div>
</nav>
