/* start global ruls  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* small  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start var */
::selection {
  background-color: #4e4376;
  color: #f3f4f5;
}
:root {
  --Primary-Color: #1e3a8a;
  --Secondary-Color: #a8a8a8;
  --bg-color: linear-gradient(135deg, #1e3a8a, #121212);
  --Accent-Color: #60a5fa;
  --text-color: white;
  --Secondary-Text: #d1d5db;
  --navbar-bg-color: #244070;
  --navbar-hover-bg-color: #294580;
  --btn-color: linear-gradient(90deg, #60a5fa, #a8a8a8);
}
/* end var  */
.logo {
  display: flex;
  align-items: center;
}
.logo a {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.7em;
}
.logo__icon {
  width: 40px;
}

.content {
  position: relative;
  margin-top: 50px;
}

.content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.content p {
  font-size: 18px;
  margin-bottom: 1px;
  color: rgb(155, 155, 155);
}

.button {
  color: #f3f4f5;
  padding: 5px 10px;
  border: 2px solid #f3f4f5;
  border-radius: 9px;
  font-size: 18px;
  transition: all 0.3s;
  display: inline-block;
}

.button:hover {
  background-color: #206b9c;
  transform: scale(1.1);
  cursor: pointer;
}

/* Navbar Styling */
.navbar {
  width: 100%;
  z-index: 100;
  background: rgba(125, 103, 162, 0.2);
  backdrop-filter: blur(10px);
  position: fixed;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar-brand a {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-menu li {
  display: inline;
}

.navbar-menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 700;
  padding-left: 30px;
  white-space: nowrap;
  transition: color 0.3s ease;
}

.navbar-menu a:hover {
  color: #0493bf;
}

/* Mobile Toggle Button */
.navbar-toggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}

.navbar-toggle .bar {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    gap: 30px;
    /* margin: 6px 0px; */
    width: 100%;
    padding-bottom: 30px;

    position: absolute;
    top: 50px;
    left: 0;

    /* top: 0; */

    min-height: fit-content;
    z-index: 98;
    background-color: #4e4376f9;
    backdrop-filter: blur(10px);
    padding-top: 30px;
    padding-right: 10px;
    transition: 0.4s;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-menu a {
    padding: 10px;
    text-align: center;
    width: 100%;
  }
}
/* Waves */
div.co-wave {
  height: 0px;
}

div.co-wave svg {
  position: relative;
  width: 100%;
  height: 25vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 350px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

div.co-wave svg g.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

div.co-wave svg g.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

div.co-wave svg g.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

div.co-wave svg g.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

div.co-wave svg g.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  div.co-wave svg {
    height: 340px;
    min-height: 40px;
  }
}

footer {
  background-color: #244070;
  padding: 40px 0;
  color: #f3f4f5;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
@media (max-width: 767px) {
  footer .container {
    text-align: center;
  }
}
.logo__foot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__foot .image {
  color: #f3f4f5;
  font-size: 25px;
  align-items: center;
  padding: 15px;
  border-left: 2.5px solid #f3f4f5;
}
.logo__foot .image .logo__icon {
  width: 80px;
  margin-bottom: 3px;
}
.logo__foot .image a {
  color: #f3f4f5;
  text-transform: uppercase;
}
.logo__foot p {
  margin-right: 20px;
  line-height: 1.4;
}
footer .pages {
}
footer .pages h3 {
  margin-bottom: 25px;
  font-size: 25px;
}
footer .pages li {
  margin-bottom: 10px;
}
footer .pages a {
  color: #f3f4f5;
  transition: color 0.3s ease;
}
footer .pages a:hover {
  color: #0493bf;
}
.social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: right;
  gap: 20px;
}
@media (max-width: 767px) {
  .social-icons {
    justify-content: center;
  }
}
.social-icons a {
  font-size: 24px;
  color: #f3f4f5;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #0493bf;
}
