.section-testimonials {
  display: grid;
  /* grid-template-columns: 55fr 45fr; */
  align-items: center;
}
.container_project {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  row-gap: 3.6rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
  padding-right: 138px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 10px;
}

.gallery-item img {
  display: block;
  width: 100%;

  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  cursor: pointer;
  padding: 1.6rem;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 15px;
}

.card-content {
  margin-top: 10px;
  padding: 15px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px;
}

.card-text {
  font-size: 14px;
  color: #666;
}

.heading {
  font-size: 4.4rem;
  margin-bottom: 2.4rem;
  color: #fff;
}
.heading-secondary {
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
  color: #fff;
}

@media (max-width: 59em) {
  .testimonials-container {
    justify-self: center;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2rem;
    align-items: center;
  }
}
